#LoginButton{
    width:40rem;
    height:7rem;
    border-radius:10px;
    border:2px solid rgba(0,0,0,.8);
    margin-left:50vw;
    margin-top:50vh;
    transform: translate(-50%,-50%);
    font-size:2rem;
    background-color: transparent;
    cursor: pointer;
    transition:background-color .25s ease-in;
    &:hover{
        background-color: darken(white,10%);
        &>img#Icon{
            transform: translateY(-50%) scale(1.1);
        }
    }
    &>img#Icon{
        position: absolute; 
        height:80%;
        transition: transform .3s ease;
        right:1rem;
        top:50%;
        transform: translateY(-50%);
    }

}